/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* scale set at 1.33 */

/* ===== BASE STYLES ===== */
html{
	font-size: 1.125em; /* 18px */ /* still don't like this size */
	line-height: 1.222em; /* 22px = 1 gridline 120% */
	padding: 1.222em 0.917em; /* 4:3 ratio @ 22px */ /*bullet points were added when i put padding */
  background-color: #000;
  color: #efff00ff
  }

h1{
	font-size: 2.353em; /* 42.347px @ 18px */
	line-height: 1.20em; ; /* 50.816 = 1 gridline 120% */ /*i dont like this */
}

h2 {
	font-size: 1.50em; /* 23.94px @ 18px */ 
	line-height: 1.21em; /* 29 = 1 gridline 120% */
  text-decoration: underline;
  padding-bottom: 0.611em; 
}

p {
  padding-bottom: 1.222em;
  padding-top: 0.306em;;
}
ul {
  padding-bottom: 0.611em; /* 11px = half gridline*/
/*	padding-top: 0.611em; /* 11px = half gridline*/ /* probably indent rather than padding */
}

li {
  padding-bottom: 0.306em; /* 5.5px = 1/4 gridline */
}

/*
 section li:first-child { /* wants whole job underlined but its in 3 different list tags */
/*  text-decoration: underline;
}
*/

section li li {
  padding-left: 2.751em; /* double the main padding 1.834em triple 2.751em*/
  list-style-type: disc;
}



/* ===== LAYOUT STYLES ===== */

/* ===== MODULAR STYLES ===== */


/* ===== STATE STYLES ===== */
